* {
  box-sizing: border-box;
}
.bg-primary {
  background-color: white !important;
}
.profile {
  border-radius: 50%;
  height: 250px;
  width: 250px;
}
.card:hover,
.profile:hover,
.nav-link:hover,
.BRARCH:hover {
  scale: 1.1;
  transition: all ease 0.4s;
}
.image {
  position: absolute;
}
h2,
h1 {
  font-weight: bold;
  color: rgb(110, 104, 104);
}
span {
  font-weight: lighter;
}
.nav-link {
  margin-left: 20px;
  margin-right: 20px;
}
.about {
  margin-top: 80px;
}
.cover {
  position: relative;
  margin-top: 230px;
  color: rgba(7, 7, 7, 0.849);
  font-size: 50px;
  text-align: center;
}
.links {
  color: rgb(104, 98, 98);
}
.image {
  height: 500px;
  width: 100%;
}
.container {
  position: relative;
  margin-top: 300px;
  color: rgb(110, 104, 104);
}
.row {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.col5,
.col6,
.col7,
.col8,
.col4,
.col3,
.col2,
.col1 {
  margin-top: 20px;
}

.btn-primary {
  background-color: rgba(0, 0, 0, 0.372) !important;
  font-weight: bolder;
  border: 1px;
  border-radius: 0px;
}
@media (min-width: 577px) and (max-width: 989px) {
  .image {
    height: 450px;
    width: 100%;
  }
  .cover {
    margin-top: 180px;
    font-size: 40px;
  }
  .container {
    margin-top: 280px;
    margin-left: 8%;
  }

  .about {
    margin-top: 70px;
  }
  .profile {
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 576px) {
  .navbar-brand {
    margin-left: auto;
    margin-right: auto;
  }
  .image {
    height: 330px;
    width: 100%;
  }
  .cover {
    margin-top: 120px;
    font-size: 35px;
  }
  .container {
    margin-top: 200px;
    margin-left: 5%;
  }
  .row {
    margin-top: 40px;
  }
  .about {
    margin-top: 50px;
  }
  .profile {
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }
  .profile2,
  .profile3 {
    margin-top: 20px;
  }
}
footer {
  margin-top: 200px;
  margin-bottom: 50px;
}
.footer-clean {
  background-color: #fff;
  color: #4b4c4d;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

@media (max-width: 767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}

.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}
